In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
data = pd.read_excel('D:/PTA 2016-2017/sistem cerdas/spada/Pertemuan_5/Studi Kasus.xls')

In [12]:
data

   Kejadian    Cuaca Temperatur Kelembaban Berangin Bermain
0        K1  Berawan      Panas     Tinggi    Tidak      Ya
1        K2  Berawan     Dingin     Normal       Ya      Ya
2        K3  Berawan     Hangat     Tinggi       Ya      Ya
3        K4  Berawan      Panas     Normal    Tidak      Ya
4        K5    Hujan     Hangat     Tinggi    Tidak      Ya
5        K6    Hujan     Dingin     Normal    Tidak      Ya
6        K7    Hujan     Dingin     Normal       Ya   Tidak
7        K8    Hujan     Hangat     Normal    Tidak      Ya
8        K9    Hujan     Hangat     Tinggi       Ya   Tidak
9       K10    Cerah      Panas     Tinggi    Tidak   Tidak
10      K11    Cerah      Panas     Tinggi       Ya   Tidak
11      K12    Cerah     Hangat     Tinggi    Tidak   Tidak
12      K13    Cerah     Dingin     Normal    Tidak      Ya
13      K14    Cerah     Hangat     Normal       Ya      Ya

In [13]:
data.shape

(14, 6)

In [9]:
data['Bermain'].value_counts()

Ya       9
Tidak    5
Name: Bermain, dtype: int64

In [10]:
PYes = 9/15
print(PYes)

0.6

In [14]:
#Probablitas orang yang bermain Tenis dibanding dengan Cuaca Berawan
#P(A) PYes
#P(B) PCuaca_Berawan

In [15]:
data['Cuaca'].value_counts()

Hujan      5
Cerah      5
Berawan    4
Name: Cuaca, dtype: int64

In [16]:
pd.crosstab(data['Cuaca'], data['Bermain'])

Bermain  Tidak  Ya
Cuaca
Berawan      0   4
Cerah        3   2
Hujan        2   3

In [17]:
#P(A|B) ? 
#P(A) = Bermain Yes
#P(B) = Cuaca_Berawan
#P(B|A) = Pcuaca_berawan|PYes

In [18]:
PCuaca_Berawan = 4/9
print(PCuaca_Berawan)

0.4444444444444444

In [20]:
PCuaca_BerawanTidak = 0/4
print(PCuaca_BerawanTidak)

0.0

In [21]:
PCuaca_BerawanYes = 4/4
print(PCuaca_BerawanYes)

1.0

In [22]:
PCuaca = 5/9

In [23]:
PCuacaBerawan = (PCuaca_BerawanYes*PYes)/PCuaca
print(PCuacaBerawan)

1.0799999999999998